<div class="container">
    <div *ngIf="mensagem" [ngClass]="tipo" class="toast">
        {{ mensagem }}
    </div>
    <div *ngIf="loading" class="spinner">
        Carregando usuarios...
    </div>
    <div *ngIf="!loading && usuarios.length === 0">
        Nenhum usuário cadastrado.
    </div>
    <h1>Usuários</h1>

    <button (click)="irCadastro()">Novo Usuário</button>

    <div *ngFor="let u of usuarios" class="card">
    <strong>{{ u.nome }}</strong><br>
    {{ u.email }}

    <div style="margin-top:10px;">
        <button type="button" (click)="verDetalhe(u.id)">Ver</button>
        <button type="button" (click)="editar(u.id)">Editar</button>
        <button type="button" class="danger" (click)="deletar(u.id)">Excluir</button>
    </div>
    </div>
</div>